<template>
  <div>{{pascalCase componentName}} Component</div>
</template>

<script setup lang="ts">
interface Props {}
interface Emits {}

const props = defineProps<Props>()
const emit = defineEmits<Emits>()

const { } = use{{pascalCase componentName}}Component() 

function use{{pascalCase componentName}}Component() {
  return {
    
  }
}
</script>

<style scoped>

</style>
