<template>
  <div class="{{kebabCase routeName}}-page">
    <h1>{{pascalCase routeName}} Page</h1>
  </div>
</template>

<script setup lang="ts">
const { } = use{{pascalCase routeName}}Page() 

function use{{pascalCase routeName}}Page() {
  return {
    
  }
}
</script>

<style scoped>

</style>
